/*orange: e9a904*/
*{box-sizing: border-box;}
body {margin: 0; padding:0;}
img {width: 100%;}

.w3-padding-32 {
	padding: 0;
}

.short-cut {
	text-align: center;
	display: flex; 
	justify-content: center;
	text-decoration: none
}
.short-cut:hover {
	color: #CA2626;
	transition: .15s all ease-in;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.hero {
	background-image: url(../imgs/plate.jpg);
	background-size: cover;
  	background-position: center;
  	width: 100wh;
  	height: 100vh;
  	display: flex;
}

.hero-title {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

main {
	display: grid;
  	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  	grid-gap: 20px;
}

.main-title {
	grid-column: 1/-1;
}
.aside-grid {
	display: grid;
  	grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  	grid-gap: 20px;
}

h1 {
	font-weight: black;
}

article {
	background: #efefef;
	padding: 1em 0.5em;
	border-radius: 5px;
}
.chef-name {
	font-weight: bold;
}
.chef-role {
	color: #e9a904;
	font-size: 1em;
}

.fieldset-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}







